.form {
  max-width: 500px;
  margin: 20px 20px;
  background: lightgrey;
  border-radius: 10px;
  padding: 20px;
}

.form__label {
  align-items: center;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 767px) {
  .form__label {
    grid-template-columns: 1fr;
  }
}

.form__labelText {
  width: 100%;
  display: inline-block;
}

.form__field {
  border: 1px solid black;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
}

.form__paragrath {
  font-size: 12px;
  text-align: center;
}